.conteudo {
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
}

.background {
    height: 100vh;
    position: absolute;
    left: 0;
}

.info {
    width: 60%;
    margin-right: 90px;
    margin-top: 40px;
    color: #fff;
}

input {
    border: 1px solid #999999;
    border-radius: 22px;
    min-width: 250px;
    width: 70%;
    margin-right: 12px;
    background: transparent;
    font-size: 18px;
    padding: 10px;
}

button {
    border: 1px solid #999999;
    border-radius: 22px;
    min-width: 20%;;
    margin-right: 12px;
    background: #2D333B;
    font-size: 18px;
    padding: 10px;
    color: #fff;
}

button:hover {
    cursor: pointer;
    background: #38404b;
}

.perfil {
    display: flex;
    align-items: center;
    margin: 40px 0;
}

.profile {
    border-radius: 60px;
    height: 120px;
    width: 120px;
    border: 2px solid;
    margin-right: 32px;
}

.perfil h3 {
    color: #999999;
    font-size: 24px;
    margin: 0;
}

.perfil span {
    display: block;
    color: #999999;
    font-size: 12px;
    margin: 0;
}

.perfil p {
    color: #999999;
    font-size: 12px;
    margin: 20px 0 0 0;
}